<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
    <link rel="icon" type="image/ico" href="../images/icon.ico">
    <link rel="stylesheet" href="../styles/images.css">
    <link rel="stylesheet" href="../styles/main.css">
    <link rel="stylesheet" href="../styles/normalize.css">
	<title>The Strormlight Archive</title>
    
</head>

<body>
	<header>
        <img src="../images/title3.jpg" alt="logo">
        <nav class="clear">
            <ul>
                <li><a href='feedback.html'>Feedback</a><li>
                <li><a href='#'>Images</a>
                    <ul>
                        <li>
                            <a href='#'>sub page 1</a>
                            <ul>
                                <li><a href="#" >sub page 1 sub sub page 1</a></li>
                                <li><a href="#" >sub page 1 sub sub page 1</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href='#'>sub page 2</a>
                            <ul>
                                <li><a href="#" >sub page 2 sub sub page 1</a></li>
                                <li><a href="#" >sub page 2 sub sub page 2</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li><a href='index.html'>Home</a></li>
            </ul>
        </nav>
	</header>  
    <aside id="left">
        <h2>References</h2>
        <ul>
            <li>&nbsp;</li>
            <li>&nbsp;</li>
            <li><a href="https://www.secondbrickfast.com/index.php/stormlight-characters">Lego Fanart - Rick Martin</a></li>
            <li>&nbsp;</li>
            <li><a href="https://www.reddit.com/r/Stormlight_Archive/comments/f23jtz/characters_of_stormlight_archive_oc/">Characters of Stormlight Archive (OC) - juanesburbano</a></li>            
            <li>&nbsp;</li>
            <li><a href="https://stormlightarchive.fandom.com/wiki/The_Way_of_Kings">Stormlight Archive Wiki</a></li>
        </ul>
    </aside>
    <main>
        <article>
            <h1>Images</h1>
            <!-- Photo Grid -->
            <div class="row"> 
                <div class="column">
                    <figure>
                        <img src="../images/mc's_1.png" alt="main characters_1" class="thumbnail" style="width:100%">
                        <figcaption>Main Chararcters_1</figcaption>
                        <img src="../images/mc's_2.jpg" alt="main characters_2" class="thumbnail" style="width:100%">
                        <figcaption>Main Chararcters_2</figcaption>
                        <img src="../images/mc's.jpg" alt="main characters_3" class="thumbnail" style="width:100%">
                        <figcaption>Main Chararcters_3</figcaption>
                    </figure>
                </div>
                <div class="column">
                    <figure>
                        <img src="../images/highprinces.jpg" alt="high_princes" class="thumbnail" style="width:100%">
                        <figcaption>High Princes</figcaption>
                        <img src="../images/house-kholin.jpg" alt="house_kholin" class="thumbnail" style="width:100%">
                        <figcaption>House Kholin</figcaption>
                    </figure>
                </div> 
            </div>
            <div class="row">
                <figure>
                    <img src="../images/races.jpg" alt="roshar_people" class="thumbnail" style="width: 100%">
                    <figcaption>People of Roshar</figcaption>
                </figure>
            </div>
        </article>
    </main>
    <aside id="right">
        <h2> Book 1:</h2>
        <a href="https://www.goodreads.com/book/show/7235533-the-way-of-kings">
            <img src="../images/book1.jpg" alt="The Way of Kings">
            <h3>The Way of Kings</h3></a>
        <h2> Book 2:</h2>
        <a href="https://www.goodreads.com/book/show/17332218-words-of-radiance">
            <img src="../images/book2.jpg" alt="Words of Radiance">
            <h3>Words of Radiance</h3></a>
        <h2> Book 3:</h2>
        <a href="https://www.goodreads.com/book/show/34002132-oathbringer">
            <img src="../images/book3.jpg" alt="Oathbringer">
            <h3>Oathbringer</h3></a>
    </aside>
    <footer>
        <div class="line"></div>
        <p>All copyrights belong to their rightful owners.</p> <!-- Change the copyright notice -->
        <a href="mailto:abdihakim78.f@gmail.com">Contact me</a>
         
    
    </footer>

</body>

</html>